<div id="content" *ngIf="customer">


  <div class="row">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa fa-trophy"></i>{{'Customers' | i18n }}
      <span>> {{'Customer detail' | i18n}}</span>
    </h1>
  </div>
  <!-- end row -->
  <!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="well well-light well-sm no-margin no-padding">
              <div class="row">
                <div class="col-sm-12">
                  <div id="myCarousel" class="carousel fade profile-carousel">
                    <carousel id="myCarousel" class="carousel fade profile-carousel">
                      <slide>
                        <img class="carousel-image" src="assets/img/demo/s1.jpg" alt="demo user">
                      </slide>
                      <slide>
                        <img class="carousel-image" src="assets/img/demo/s2.jpg" alt="demo user">
                      </slide>
                      <slide>
                        <img class="carousel-image" src="assets/img/demo/m3.jpg" alt="demo user">
                      </slide>
                    </carousel>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-3 profile-pic">
                      <img src='{{customer.profileImagePath}}' alt="user profile image">

                      <div class="padding-10">
                        <div *ngIf="customerService.goal;else nogoal1">
                          <h4 class="font-md"><strong>{{customerService.goal.kg}} kg</strong>
                            <br>
                            <small>Target weight</small>
                          </h4>
                        </div>
                        <ng-template #nogoal1>
                          <h4 class="font-md"><strong>N/A</strong>
                            <br>
                            <small>Target weight</small>
                          </h4>
                        </ng-template>
                        <br>
                        <div *ngIf="customerService.goal;else nogoal2">
                          <h4 class="font-md"><strong>{{customerService.goal.percentage}} %</strong>
                            <br>
                            <small>Target fat %</small>
                          </h4>
                        </div>
                        <ng-template #nogoal2>
                          <h4 class="font-md"><strong>N/A</strong>
                            <br>
                            <small>Target fat %</small>
                          </h4>
                        </ng-template>
                        <br>
                        <div *ngIf="customerService.goal;else nogoal3">
                          <h4 class="font-md"><strong>{{customerService.goal.diameter}} cm</strong>
                            <br>
                            <small>Target diameter</small>
                          </h4>
                        </div>
                        <ng-template #nogoal3>
                          <h4 class="font-md"><strong>N/A</strong>
                            <br>
                            <small>Target diameter</small>
                          </h4>
                        </ng-template>
                        <br>
                        <div *ngIf="customerService.goal;else nogoal4">
                          <h4 class="font-md"><strong>{{customerService.goal.dueDate | date: 'dd.MM yyyy'}}</strong>
                            <br>
                            <small>Due date</small>
                          </h4>
                        </div>
                        <ng-template #nogoal4>
                          <h4 class="font-md"><strong>N/A</strong>
                            <br>
                            <small>Due date</small>
                          </h4>
                        </ng-template>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h1>{{customer.name}}
                      </h1>
                      <ul class="list-unstyled">
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-phone"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.phone}}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-envelope"></i>&#xA0;&#xA0;<a href="mailto:{{customer.email}}">{{customer.email}}</a>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-home"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.address}}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-expand"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.height}} cm.</span>
                          </p>
                        </li>
                        <li *ngIf="customer.allergy">
                          <p class="text-muted">
                            <i class="fa fa-heartbeat"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.allergy}}</span>
                          </p>
                        </li>
                        <li *ngIf="customer.injury">
                          <p class="text-muted">
                            <i class="fa fa-ban"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.injury}}</span>
                          </p>
                        </li>
                        <li *ngIf="customer.foodPref">
                          <p class="text-muted">
                            <i class="fa fa-tachometer"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ customer.foodPref }}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-pencil"></i>&#xA0;&#xA0;<span class="txt-color-darken"><button class="btn btn-info btn-xs" (click)="changeInfoModal.show()">{{'Edit' | i18n}}</button></span>
                          </p>
                        </li>
                      </ul>
                      <br>

                      <p class="font-md">
                        <i>My goals</i>
                      </p>
                      <div *ngIf="customerService.goal;else nogoal">
                        <p class="text-muted">
                          <i class="fa fa-trophy"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ customerService.goal.description }}</span>
                        </p>
                        <p class="text-muted">
                          <i class="fa fa-pencil"></i>&#xA0;&#xA0;<span class="txt-color-darken"><button class="btn btn-info btn-actions btn-xs" (click)="goalModal.show()">{{'Update' | i18n}}</button>
                            </span>

                        </p>
                      </div>
                      <ng-template #nogoal>No goal set</ng-template>
                      <br>
                      <br>
                      <br>
                    </div>
                    <div class="col-sm-3">
                      <h1>

                      </h1>
                     <br>
                      <p class="font-md">
                        <i>{{'Training program' | i18n}}</i>
                      </p>
                      <div>
                        <p class="text-muted">
                          <i class="fa fa-heartbeat"></i>&#xA0;&#xA0;<span class="txt-color-darken">Current training program</span>
                        </p>
                        <p class="text-muted">
                          <i class="fa fa-pencil"></i>&#xA0;&#xA0;<span class="txt-color-darken"><button class="btn btn-info btn-actions btn-xs" (click)="assignTrainingprogram.show()">{{'Update' | i18n}}</button>
                            </span>

                        </p>
                      </div>
                      <br>
                      <p class="font-md">
                        <i>{{'Food program' | i18n}}</i>
                      </p>
                      <div>
                        <p class="text-muted">
                          <i class="fa fa-cutlery"></i>&#xA0;&#xA0;<span class="txt-color-darken">Current food program</span>
                        </p>
                        <p class="text-muted">
                          <i class="fa fa-pencil"></i>&#xA0;&#xA0;<span class="txt-color-darken"><button class="btn btn-info btn-actions btn-xs" (click)="assignFoodprogram.show()">{{'Update' | i18n}}</button>
                            </span>

                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <hr>
                  <div class="padding-10">
                    <ul class="nav nav-tabs tabs-pull-right">
                      <li class="active">
                        <a href="#measurements" data-toggle="tab">{{'Measurements' | i18n}}</a>
                      </li>
                      <li>
                        <a href="#images" data-toggle="tab">{{'Progress images' | i18n}}</a>
                      </li>
                    </ul>
                    <div class="tab-content padding-top-10">

                      <div class="tab-pane fade in active " id="measurements">
                        <sa-datatable [options]="options" [detailsFormat]="detailsFormat" tableClass="display projects-table table table-striped table-bordered table-hover"
                          width="100%">
                          <thead>
                            <tr>
                              <th></th>
                              <th>Date</th>
                              <th>BMI</th>
                              <th>LBI</th>
                              <th>Fat %</th>
                              <th>Kg</th>
                            </tr>
                          </thead>
                        </sa-datatable>
                      </div>
                      <div class="tab-pane fade" id="images">
                        <div id="content">
                          <div class="row">
                            <div class="page-title text-align-center">
                              <a class="btn btn-xs btn-info">{{'Upload new image' | i18n}}</a>
                            </div>
                          </div>
                          <div class="row">
                            <sa-gallery class="col-sm-12" [pictures]="customerService.pictures" (deleteReques)="onDelete(picture)" (editReques)="onEdit(picture)"></sa-gallery>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!--Modals-->
<!--Goal modal begins-->
<div bsModal #goalModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">

  <app-new-goal-modal [CID]="CID" (close)="goalModal.hide()"></app-new-goal-modal>
</div>
<!--Goal modal ends-->
<!--Edit info modal begins-->
<div bsModal #changeInfoModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <app-edit-customer-modal (close)="changeInfoModal.hide()"></app-edit-customer-modal>
</div>
<!--Edit info modal ends-->
<!--Assign Trainingprogram Modal begins-->
<div bsModal #assignTrainingprogram="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
 aria-hidden="true">
  <app-assign-trainingprogram-modal (close)="assignTrainingprogram.hide()"></app-assign-trainingprogram-modal>
</div>
<!--Assign Trainingprogram Modal begins ends-->
<!--Assign Trainingprogram Modal begins-->
<div bsModal #assignFoodprogram="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
 aria-hidden="true">
  <app-assign-foodprogram-modal (close)="assignFoodprogram.hide()"></app-assign-foodprogram-modal>
</div>
<!--Assign Trainingprogram Modal begins ends-->