<div id="content" *ngIf="customer">


  <div class="row">
     <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa fa-trophy"></i>{{'Customers' | i18n }}
      <span>> {{'Customer detail' | i18n}}</span>
    </h1>
  </div>
  <!-- end row -->
  <!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="well well-light well-sm no-margin no-padding">
              <div class="row">
                <div class="col-sm-12">
                  <div id="myCarousel" class="carousel fade profile-carousel">
                    <div class="air air-bottom-right padding-10">
                    </div>
                    <div class="air air-top-left padding-10">
                      <h4 class="txt-color-white font-md">{{ date | date: 'dd MMM, yyyy' }}</h4>
                    </div>
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                      <!-- Slide 1 -->
                      <div class="item active">
                        <img src="assets/img/demo/s1.jpg" alt="demo user">
                      </div>
                      <!-- Slide 2 -->
                      <div class="item">
                        <img src="assets/img/demo/s2.jpg" alt="demo user">
                      </div>
                      <!-- Slide 3 -->
                      <div class="item">
                        <img src="assets/img/demo/m3.jpg" alt="demo user">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-3 profile-pic">
                      <img src='{{customer.profileImagePath}}' alt="user profile image">

                      <div class="padding-10">
                        <h4 class="font-md"><strong>18</strong>
                          <br>
                          <small>Days til goal due date</small>
                        </h4>
                        <br>
                        <h4 class="font-md"><strong>55%</strong>
                          <br>
                          <small>of goal reached</small>
                        </h4>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h1>{{customer.name}}
                      </h1>
                      <ul class="list-unstyled">
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-phone"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.phone}}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-envelope"></i>&#xA0;&#xA0;<a href="{{customer.email}}">{{customer.email}}</a>
                          </p>
                        </li>
                         <li>
              <p class="text-muted">
                <i class="fa fa-home"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.address}}</span>
              </p>
            </li>
            <li>
              <p class="text-muted">
                <i class="fa fa-expand"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.height}} cm.</span>
              </p>
            </li>
            <li *ngIf="customer.allergy">
              <p class="text-muted">
                <i class="fa fa-heartbeat"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.allergy}}</span>
              </p>
            </li>
            <li *ngIf="customer.injury">
              <p class="text-muted">
                <i class="fa fa-ban"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.injury}}</span>
              </p>
            </li>
            <li *ngIf="customer.foodPref">
              <p class="text-muted">
                <i class="fa fa-tachometer"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ injury.foodPref }}</span>
              </p>
            </li>
            <li>
              <p class="text-muted">
                <i class="fa fa-pencil"></i>&#xA0;&#xA0;<span class="txt-color-darken"><button class="btn btn-info btn-xs">{{'Edit' | i18n}}</button></span>
              </p>
            </li>
                      </ul>
                      <br>

                      <p class="font-md">
                        <i>A little about me...</i>
                      </p>

                      <p>
                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                        eligendi optio
                        cumque nihil impedit quo minus id quod maxime placeat facere
                      </p>
                      <br>
                      <a href="" class="btn btn-default btn-xs"><i class="fa fa-envelope-o"></i> Send Message</a>
                      <br>
                      <br>
                    </div>
                    <div class="col-sm-3">
                      <h1>
                        <small>Connections</small>
                      </h1>
                      <ul class="list-inline friends-list">
                        <li><img src="assets/img/avatars/1.png" alt="friend-1">
                        </li>
                        <li><img src="assets/img/avatars/2.png" alt="friend-2">
                        </li>
                        <li><img src="assets/img/avatars/3.png" alt="friend-3">
                        </li>
                        <li><img src="assets/img/avatars/4.png" alt="friend-4">
                        </li>
                        <li><img src="assets/img/avatars/5.png" alt="friend-5">
                        </li>
                        <li><img src="assets/img/avatars/male.png" alt="friend-6">
                        </li>
                        <li>
                          <a href="">413 more</a>
                        </li>
                      </ul>
                      <h1>
                        <small>Recent visitors</small>
                      </h1>
                      <ul class="list-inline friends-list">
                        <li><img src="assets/img/avatars/male.png" alt="friend-1">
                        </li>
                        <li><img src="assets/img/avatars/female.png" alt="friend-2">
                        </li>
                        <li><img src="assets/img/avatars/female.png" alt="friend-3">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <hr>
                  <div class="padding-10">
                    <ul class="nav nav-tabs tabs-pull-right">
                      <li class="active">
                        <a href="#a1" data-toggle="tab">Recent Articles</a>
                      </li>
                      <li>
                        <a href="#a2" data-toggle="tab">New Members</a>
                      </li>
                      <li class="pull-left">
                        <span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Activity</span>
                      </li>
                    </ul>
                    <div class="tab-content padding-top-10">
                      <div class="tab-pane fade in active" id="a1">
                        <div class="row">
                          <div class="col-xs-2 col-sm-1">
                            <time datetime="2014-09-20" class="icon">
                              <strong>Jan</strong>
                              <span>10</span>
                            </time>
                          </div>
                          <div class="col-xs-10 col-sm-11">
                            <h6 class="no-margin"><a href="">Allice in Wonderland</a></h6>

                            <p>
                              Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi Nam eget dui.
                              Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
                              sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.
                            </p>
                          </div>
                          <div class="col-sm-12">
                            <hr>
                          </div>
                          <div class="col-xs-2 col-sm-1">
                            <time datetime="2014-09-20" class="icon">
                              <strong>Jan</strong>
                              <span>10</span>
                            </time>
                          </div>
                          <div class="col-xs-10 col-sm-11">
                            <h6 class="no-margin"><a href="">World Report</a></h6>

                            <p>
                              Morning our be dry. Life also third land after first beginning to evening cattle created
                              let subdue you'll winged don't Face firmament.
                              You winged you're was Fruit divided signs lights i living cattle yielding over light
                              life life sea, so deep.
                              Abundantly given years bring were after. Greater you're meat beast creeping behold he
                              unto She'd doesn't. Replenish brought kind gathering Meat.
                            </p>
                          </div>
                          <div class="col-sm-12">
                            <br>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="a2">
                        <div class="alert alert-info fade in">
                          <button class="close" data-dismiss="alert">
                            &#xD7;
                          </button>
                          <i class="fa-fw fa fa-info"></i>
                          <strong>51 new members </strong>joined today!
                        </div>
                        <div class="user" title="email@company.com">
                          <img src="assets/img/avatars/female.png" alt="demo user"><a href="">Jenn Wilson</a>

                          <div class="email">
                            travis@company.com
                          </div>
                        </div>
                        <div class="user" title="email@company.com">
                          <img src="assets/img/avatars/male.png" alt="demo user"><a href="">Marshall Hitt</a>

                          <div class="email">
                            marshall@company.com
                          </div>
                        </div>
                        <div class="user" title="email@company.com">
                          <img src="assets/img/avatars/male.png" alt="demo user"><a href="">Joe Cadena</a>

                          <div class="email">
                            joe@company.com
                          </div>
                        </div>
                        <div class="user" title="email@company.com">
                          <img src="assets/img/avatars/male.png" alt="demo user"><a href="">Mike McBride</a>

                          <div class="email">
                            mike@company.com
                          </div>
                        </div>
                        <div class="user" title="email@company.com">
                          <img src="assets/img/avatars/male.png" alt="demo user"><a href="">Travis Wilson</a>

                          <div class="email">
                            travis@company.com
                          </div>
                        </div>
                        <div class="user" title="email@company.com">
                          <img src="assets/img/avatars/male.png" alt="demo user"><a href="">Marshall Hitt</a>

                          <div class="email">
                            marshall@company.com
                          </div>
                        </div>
                        <div class="user" title="Joe Cadena joe@company.com">
                          <img src="assets/img/avatars/male.png" alt="demo user"><a href="">Joe Cadena</a>

                          <div class="email">
                            joe@company.com
                          </div>
                        </div>
                        <div class="user" title="email@company.com">
                          <img src="assets/img/avatars/male.png" alt="demo user"><a href="">Mike McBride</a>

                          <div class="email">
                            mike@company.com
                          </div>
                        </div>
                        <div class="user" title="email@company.com">
                          <img src="assets/img/avatars/male.png" alt="demo user"><a href="">Marshall Hitt</a>

                          <div class="email">
                            marshall@company.com
                          </div>
                        </div>
                        <div class="user" title="email@company.com">
                          <img src="assets/img/avatars/male.png" alt="demo user"><a href="">Joe Cadena</a>

                          <div class="email">
                            joe@company.com
                          </div>
                        </div>
                        <div class="user" title="email@company.com">
                          <img src="assets/img/avatars/male.png" alt="demo user"><a href=""> Mike McBride</a>

                          <div class="email">
                            mike@company.com
                          </div>
                        </div>
                        <div class="text-center">
                          <ul class="pagination pagination-sm">
                            <li class="disabled">
                              <a href="">Prev</a>
                            </li>
                            <li class="active">
                              <a href="">1</a>
                            </li>
                            <li>
                              <a href="">2</a>
                            </li>
                            <li>
                              <a href="">3</a>
                            </li>
                            <li>
                              <a href="">...</a>
                            </li>
                            <li>
                              <a href="">99</a>
                            </li>
                            <li>
                              <a href="">Next</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- end tab -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- end row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
