<div id="content" *ngIf="customer">


  <div class="row">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa fa-trophy"></i>{{'Customers' | i18n }}
      <span>> {{'Customer detail' | i18n}}</span>
    </h1>
  </div>
  <!-- end row -->
  <!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="well well-light well-sm no-margin no-padding">
              <div class="row">
                <div class="col-sm-12">
                  <div id="myCarousel" class="carousel fade profile-carousel">
                    <carousel id="myCarousel" class="carousel fade profile-carousel">
                      <slide>
                        <img class="carousel-image" src="assets/img/demo/s1.jpg" alt="demo user">
                      </slide>
                      <slide>
                        <img class="carousel-image" src="assets/img/demo/s2.jpg" alt="demo user">
                      </slide>
                      <slide>
                        <img class="carousel-image" src="assets/img/demo/m3.jpg" alt="demo user">
                      </slide>
                    </carousel>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-3 profile-pic">
                      <img src='{{customer.profileImagePath}}' alt="user profile image">

                      <div class="padding-10">
                        <div *ngIf="goal;else nogoal1">
                          <h4 class="font-md"><strong>{{goal.kg}} kg</strong>
                            <br>
                            <small>Target weight</small>
                          </h4>
                        </div>
                        <ng-template #nogoal1>
                          <h4 class="font-md"><strong>N/A</strong>
                            <br>
                            <small>Target weight</small>
                          </h4>
                        </ng-template>
                        <br>
                        <div *ngIf="goal;else nogoal2">
                          <h4 class="font-md"><strong>{{goal.percentage}} %</strong>
                            <br>
                            <small>Target fat %</small>
                          </h4>
                        </div>
                        <ng-template #nogoal2>
                          <h4 class="font-md"><strong>N/A</strong>
                            <br>
                            <small>Target fat %</small>
                          </h4>
                        </ng-template>
                        <br>
                        <div *ngIf="goal;else nogoal3">
                          <h4 class="font-md"><strong>{{goal.diameter}} cm</strong>
                            <br>
                            <small>Target diameter</small>
                          </h4>
                        </div>
                        <ng-template #nogoal3>
                          <h4 class="font-md"><strong>N/A</strong>
                            <br>
                            <small>Target diameter</small>
                          </h4>
                        </ng-template>
                        <br>
                        <div *ngIf="goal;else nogoal4">
                          <h4 class="font-md"><strong>{{goal.dueDate | date: 'dd.MM yyyy'}}</strong>
                            <br>
                            <small>Due date</small>
                          </h4>
                        </div>
                        <ng-template #nogoal4>
                          <h4 class="font-md"><strong>N/A</strong>
                            <br>
                            <small>Due date</small>
                          </h4>
                        </ng-template>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h1>{{customer.name}}
                      </h1>
                      <ul class="list-unstyled">
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-phone"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.phone}}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-envelope"></i>&#xA0;&#xA0;<a href="{{customer.email}}">{{customer.email}}</a>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-home"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.address}}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-expand"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.height}} cm.</span>
                          </p>
                        </li>
                        <li *ngIf="customer.allergy">
                          <p class="text-muted">
                            <i class="fa fa-heartbeat"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.allergy}}</span>
                          </p>
                        </li>
                        <li *ngIf="customer.injury">
                          <p class="text-muted">
                            <i class="fa fa-ban"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{customer.injury}}</span>
                          </p>
                        </li>
                        <li *ngIf="customer.foodPref">
                          <p class="text-muted">
                            <i class="fa fa-tachometer"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ customer.foodPref }}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-pencil"></i>&#xA0;&#xA0;<span class="txt-color-darken"><button class="btn btn-info btn-xs">{{'Edit' | i18n}}</button></span>
                          </p>
                        </li>
                      </ul>
                      <br>

                      <p class="font-md">
                        <i>My goals</i>
                      </p>
                      <div *ngIf="goal;else nogoal">
                        <p>
                          My goal: {{goal.description}}
                        </p>
                      </div>
                      <ng-template #nogoal>No goal set</ng-template>
                      <br>
                      <br>
                      <br>
                    </div>
                    <div class="col-sm-3">
                      <h1>
                        <small>Connections</small>
                      </h1>
                      <ul class="list-inline friends-list">
                        <li><img src="assets/img/avatars/1.png" alt="friend-1">
                        </li>
                        <li><img src="assets/img/avatars/2.png" alt="friend-2">
                        </li>
                        <li><img src="assets/img/avatars/3.png" alt="friend-3">
                        </li>
                        <li><img src="assets/img/avatars/4.png" alt="friend-4">
                        </li>
                        <li><img src="assets/img/avatars/5.png" alt="friend-5">
                        </li>
                        <li><img src="assets/img/avatars/male.png" alt="friend-6">
                        </li>
                        <li>
                          <a href="">413 more</a>
                        </li>
                      </ul>
                      <h1>
                        <small>Recent visitors</small>
                      </h1>
                      <ul class="list-inline friends-list">
                        <li><img src="assets/img/avatars/male.png" alt="friend-1">
                        </li>
                        <li><img src="assets/img/avatars/female.png" alt="friend-2">
                        </li>
                        <li><img src="assets/img/avatars/female.png" alt="friend-3">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <hr>
                  <div class="padding-10">
                    <ul class="nav nav-tabs tabs-pull-right">
                      <li class="active">
                        <a href="#training-program" data-toggle="tab">{{'Training program' | i18n}}</a>
                      </li>
                      <li>
                        <a href="#food-program" data-toggle="tab">{{'Food program' | i18n}}</a>
                      </li>
                      <li>
                        <a href="#measurements" data-toggle="tab">{{'Measurements' | i18n}}</a>
                      </li>
                      <li>
                        <a href="#images" data-toggle="tab">{{'Progress images' | i18n}}</a>
                      </li>
                    </ul>
                    <div class="tab-content padding-top-10">
                      <div class="tab-pane fade in active" id="training-program">
                        Training
                      </div>
                      <div class="tab-pane fade" id="food-program">
                        Food
                      </div>
                      <div class="tab-pane fade" id="measurements">
                        Measurement
                      </div>
                      <div class="tab-pane fade" id="images">
                        Images
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end row -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>