<div id="content">
  
    <h1 class="page-title txt-color-blueDark">
    <i class="fa-fw fa fa-file-text-o"></i>{{'Customers' | i18n }}
    <span>> {{'New' | i18n}}</span>
    </h1>
  </div>
  <sa-widgets-grid>
      <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <sa-widget class="well">

                <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>

            <h2>Widget Title </h2>
          </header>

<form [formGroup]="customerForm"  novalidate="novalidate" class="smart-form" (submit)="submitCustomer(customerForm)">

  <fieldset>
    <div class="row">
      <section class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-user"></i>
          <input type="text" formControlName="name" placeholder="Full name">
        </label>
      </section>

      <section class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i>
          <input type="email" formControlName="email" placeholder="E-mail">
        </label>
      </section>
    </div>

    <div class="row">
      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-user"></i>
          <input type="" formControlName="kennitala" placeholder="Kennitala">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-phone"></i>
          <input type="tel" formControlName="phone" placeholder="Phone">
        </label>
      </section>

<section class="col col-3">
        <label class="select">
          <select formControlName="gender">
            <option value="" selected="" disabled="">{{'Gender' | i18n}}</option>
            <option value="1">{{'Male' | i18n}}</option>
            <option value="2">{{'Female' | i18n}}</option>
            <option value="3">{{'Shemale' | i18n}}</option>
            <option value="4">{{'Helicopter' | i18n}}</option>

          </select> <i></i> </label>
      </section>

<section class="col col-3">
        <label class="select">
          <select formControlName="jobDifficulty">
            <option value="" selected="" disabled="">{{'Job difficulty' | i18n}}</option>
            <option value="0" >{{'Light' | i18n}}</option>
            <option value="1">{{'Medium' | i18n}}</option>
            <option value="2">{{'Hard' | i18n}}</option>


          </select> <i></i> </label>
      </section>
    </div>
  </fieldset>

    <fieldset>
    <div class="row">
      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-expand"></i>
          <input type="number" formControlName="height" placeholder="Height" >
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-delicious"></i>
          <input type="" formControlName="foodPref" placeholder="Foodpref">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-hospital-o"></i>
          <input type="" formControlName="injury" placeholder="Injury">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-heartbeat"></i>
          <input type="" formControlName="allergy" placeholder="Allergy">
        </label>
      </section>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <section class="col col-2">
        <label class="select">
          <select formControlName="zipcodes_ZIP">
            <option value="" selected="" disabled="">{{'Zipcode' | i18n}}</option>
            <option *ngFor="let zipcode of zipcodes" >{{zipcode.ZIP}}</option>
          
          </select> <i></i> </label>
      </section>

      <section class="col col-4">
        <label class="input" > <i class="icon-prepend fa fa-home"></i>
          <input type="text" name="place" id="place" value="">
          
        </label>
      </section>

    <section class="col col-6">
      <label for="address" class="input"> <i class="icon-prepend fa fa-home"></i>
        <input type="text" formControlName="address" id="address" placeholder="Address">
      </label>
    </section>

    <section class="col col-6">
      <label for="address" class="input"> <i class="icon-prepend fa fa-picture-o"></i>
        <input type="text" formControlName="profileImagePath" placeholder="profileImage">
      </label>
    </section>
    </div>
  </fieldset>


  <footer>
    <label>{{zipcodes.place}}</label>
    <button type="submit" class="btn btn-primary">{{'Create' | i18n}}</button>
  </footer>
</form>

 </sa-widget>

      </article>
      <!-- WIDGET END -->
    </div>
  </sa-widgets-grid>
