<div id="content">
  <div class="row">
    <h1 class="page-title txt-color-blueDark">
    <i class="fa-fw fa fa-file-text-o"></i>{{'Customers' | i18n }}
    <span>> {{'New customer' | i18n}}</span>
    </h1>
  </div>
     
      <sa-widget [editbutton]="false" [custombutton]="false">
          <header>
          </header>
    <div>
      <div class="widget-body no-padding">
<form [formGroup]="customerForm"  novalidate="novalidate" class="smart-form" (submit)="submitCustomer(customerForm)">

  <fieldset>
    <div class="row">
      <section class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-user"></i>
          <input type="text" formControlName="name" placeholder="{{'Full name' | i18n}}" spellcheck="false" pattern="{{miscService.namePattern}}">
        </label>
        <small *ngIf="submitted && !customerForm.controls.name.valid">
         {{'Name not valid' | i18n}}
        </small>
      </section>

      <section class="col col-6">
        <label class="input"> <i class="icon-prepend fa fa-envelope-o"></i>
          <input type="email" formControlName="email" placeholder="{{'Email' | i18n}}" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" spellcheck="false" autocomplete="off">
        </label>
        <small *ngIf="submitted && !customerForm.controls.email.valid">
         {{'Email not valid' | i18n}}
        </small>
      </section>
    </div>

    <div class="row">
      <section class="col col-3">      
        <label class="input"><i class="icon-prepend fa fa-columns"></i>
          <input type="text" formControlName="kennitala" placeholder="Kennitala" maxlength="10">
        </label>
        <small *ngIf="submitted && !customerForm.controls.kennitala.valid">
         {{'Kennitala not valid' | i18n}}
        </small>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-phone"></i>
          <input type="tel" formControlName="phone" placeholder="{{'Phone' | i18n}}" pattern="\d*" maxlength="7">
        </label>
        <small *ngIf="submitted && !customerForm.controls.phone.valid">
          {{'Phone number not valid' | i18n}}
        </small>
      </section>

<section class="col col-3">
        <label class="select">
          <select formControlName="gender">
            <option value="" selected="" disabled="">{{'Gender' | i18n}}</option>
            <option value="1">{{'Male' | i18n}}</option>
            <option value="2">{{'Female' | i18n}}</option>
            <option value="3">{{'Shemale' | i18n}}</option>
            <option value="4">{{'Helicopter' | i18n}}</option>
          </select> <i></i> </label>
        <small *ngIf="submitted && !customerForm.controls.gender.valid">
          {{'Please select gender' | i18n}}
        </small>
      </section>

<section class="col col-3">
        <label class="select">
          <select formControlName="jobDifficulty">
            <option value="" selected="" disabled="">{{'Job difficulty' | i18n}}</option>
            <option value="0" >{{'Light' | i18n}}</option>
            <option value="1">{{'Medium' | i18n}}</option>
            <option value="2">{{'Hard' | i18n}}</option>
          </select> <i></i> </label>
        <small *ngIf="submitted && !customerForm.controls.jobDifficulty.valid">
          {{'Please select job difficulty' | i18n}}
        </small>
      </section>
    </div>

      <div class="row">
          <section class="col col-6">
      <label class="input"> <i class="icon-append fa fa-lock"></i>
        <input type="password" formControlName="password" placeholder="{{'Pick password' | i18n}}"  pattern="((?=.*\d)(?=.*[A-Z])(?=.*\W).{6,24})">
        <b class="tooltip tooltip-bottom-right">{{ miscService.passwordConditions | i18n}}</b>
      </label>
      <small *ngIf="submitted && !customerForm.controls.password.valid">
        {{ miscService.passwordConditions | i18n}}
      </small>
    </section>

    <section class="col col-6">
      <label class="input"> <i class="icon-append fa fa-lock"></i>
        <input type="password" formControlName="confirmPassword" placeholder="{{'Confirm password' | i18n}}" autocomplete="off">
      </label>
      <small *ngIf="submitted && !customerForm.controls.confirmPassword.valid">
        {{'Password do not match' | i18n}}
      </small>
    </section>
    </div>
  </fieldset>

    <fieldset>
    <div class="row">
      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-expand"></i>
          <input type="number" min="0" formControlName="height" placeholder="{{'Height' | i18n}}" pattern="\d*" maxlength="3">
          <b class="tooltip tooltip-bottom-right">{{'Height in centimeters' | i18n}}</b>
        </label>
        <small *ngIf="submitted && !customerForm.controls.height.valid">
          {{'Please enter height' | i18n}}
        </small>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-delicious"></i>
          <input type="" formControlName="foodPref" placeholder="{{'Food pref' | i18n}}">
          <b class="tooltip tooltip-bottom-right">{{'Leave empty if none' | i18n}}</b>
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-hospital-o"></i>
          <input type="" formControlName="injury" placeholder="{{'Injury' | i18n}}">
          <b class="tooltip tooltip-bottom-right">{{'Leave empty if none' | i18n}}</b>
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-heartbeat"></i>
          <input type="" formControlName="allergy" placeholder="{{'Allergy' | i18n}}">
          <b class="tooltip tooltip-bottom-right">{{'Leave empty if none' | i18n}}</b>
        </label>
      </section>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <section class="col col-2">
        <label class="select">
          <select formControlName="zipcodes_ZIP" #zip (change)="zipCodeChange(zip.value)" [(ngModel)]="initialZipcode">
            <option value="-1" selected="" disabled="">{{'Zipcode' | i18n}}</option>
            <option *ngFor="let zipcode of zipcodes" >{{zipcode.ZIP}}</option>         
          </select> <i></i> </label>
        <small *ngIf="submitted && !customerForm.controls.zipcodes_ZIP.valid">
          {{'Please select zipcode' | i18n}}
        </small>
      </section>

      <section class="col col-4">
        <label class="input" > <i class="icon-prepend fa fa-home"></i>
          <input class="readonly" type="text" value="{{ place | i18n }}" readonly>
          
        </label>
      </section>

    <section class="col col-6">
      <label for="address" class="input"> <i class="icon-prepend fa fa-home"></i>
        <input type="text" formControlName="address" placeholder="{{'Address' | i18n}}">
      </label>
        <small *ngIf="submitted && !customerForm.controls.address.valid">
          {{'Please select address' | i18n}}
        </small>
    </section>

    </div>
  </fieldset>


  <footer>
    <button type="submit" class="btn btn-primary">{{'Create' | i18n}}</button>
  </footer>
</form>
      </div>
    </div>
 </sa-widget>
    </div>
      

