<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="closeModal()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{'Assign Food program' | i18n}}</h4>
    </div>
    <div class="modal-body">

<div id="content">
  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <sa-widget class="well">
          <div>
            <div class="widget-body no-padding" data-sparkline-container="">

              <sa-datatable [options]="options"
                         [detailsFormat]="detailsFormat"
                         tableClass="display projects-table table table-striped table-bordered table-hover"
                         width="100%">
                <thead>
                <tr>
                  <th></th>
                  <th>{{'Name' | i18n}}</th>
                </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

    </div>
    <div class="modal-footer">

      <button type="button" class="btn btn-primary" (click)="closeModal()">
          {{'Close' | i18n}}
      </button>
    </div>
  </div>
</div>

