sa-big-breadcrumbs{
    width: fit-content;
}
sa-language-selector{
    position: absolute;
    margin-top: 2px;      
    right: 60px;
}
sa-logout{
    position: absolute;
    margin-top: 2px;
    right: 10px;
}
.tab-content{
    min-height: 350px;
}