<div id="content">


  <div class="row">
    <sa-big-breadcrumbs [items]="['Training Master', 'Profile']" icon="group" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-language-selector></sa-language-selector>
    <sa-logout></sa-logout>
  </div>
  <!-- end row -->
  <!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm" style="min-height:88vh">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="well well-light well-sm no-margin no-padding">
              <div class="row">
                <div class="col-sm-12">
                  <carousel id="myCarousel" class="carousel fade profile-carousel">
                    <slide>
                      <img src="assets/img/demo/s1.jpg" alt="demo user">
                    </slide>
                    <slide>
                      <img src="assets/img/demo/s2.jpg" alt="demo user">
                    </slide>
                    <slide>
                      <img src="assets/img/demo/m3.jpg" alt="demo user">
                    </slide>
                  </carousel>
                  <div class="air air-top-left padding-10">
                    <h4 class="txt-color-white font-md">&#xA0;&#xA0;{{ date | date: 'dd MMM, yyyy' }}</h4>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-3 profile-pic">
                      <img [src]="traineeService.user.profileImagePath" alt="profile-pic" tooltip="Change Profile Picture" (click)="changeImageModal.show()">

                      <div class="padding-10">
                        <h4 class="font-md"><strong>18</strong>
                          <br>
                          <small>Days To Goal End</small>
                        </h4>
                        <br>
                        <h4 class="font-md"><strong>60%</strong>
                          <br>
                          <small>Left of Goal</small>
                        </h4>
                      </div>
                    </div>
                    <div *ngIf="traineeService.user" class="col-sm-6">
                      <h1>{{ traineeService.user.name }}</h1>
                      <ul class="list-unstyled">
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-phone"></i>&#xA0;&#xA0;(<span class="txt-color-darken">+354</span>) <span class="txt-color-darken">{{ traineeService.user.phone }}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-envelope"></i>&#xA0;&#xA0;<a>{{ traineeService.user.email }}</a>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-home"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ traineeService.user.address }}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-expand"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ traineeService.user.height }} cm.</span>
                          </p>
                        </li>
                        <li *ngIf="traineeService.user.allergy">
                          <p class="text-muted">
                            <i class="fa fa-heartbeat"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ traineeService.user.allergy }}</span>
                          </p>
                        </li>
                        <li *ngIf="traineeService.user.injury">
                          <p class="text-muted">
                            <i class="fa fa-ban"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ traineeService.user.injury }}</span>
                          </p>
                        </li>
                        <li *ngIf="traineeService.user.foodPref">
                          <p class="text-muted">
                            <i class="fa fa-tachometer"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ traineeService.user.foodPref }}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-pencil"></i>&#xA0;&#xA0;<span class="txt-color-darken"><button (click)="changeInfoModal.show()" (click)="traineeService.subscribeToChange()" class="btn btn-info btn-xs">{{'Edit' | i18n}}</button></span>
                          </p>
                        </li>
                      </ul>
                      <br>
                      <br>

                      <p class="font-md">
                        <i>{{'My Goal' | i18n}}...</i>
                      </p>

                      <p>
                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
                        nihil impedit quo minus id quod maxime placeat facere
                      </p>
                      <br>
                      <br>
                    </div>
                    <div class="col-sm-3">
                      <h1>
                        <small>{{'Progress Images' | i18n}}</small>
                      </h1>
                      <ul class="list-inline friends-list">
                        <li><img src="assets/img/avatars/1.png" alt="friend-1">
                        </li>
                        <li><img src="assets/img/avatars/2.png" alt="friend-2">
                        </li>
                        <li><img src="assets/img/avatars/3.png" alt="friend-3">
                        </li>
                        <li><img src="assets/img/avatars/4.png" alt="friend-4">
                        </li>
                        <li><img src="assets/img/avatars/5.png" alt="friend-5">
                        </li>
                        <li><img src="assets/img/avatars/male.png" alt="friend-6">
                        </li>
                        <li>
                          <a href="">{{'See All' | i18n}}</a>
                        </li>
                      </ul>
                      <h1>
                        <small>Recent visitors</small>
                      </h1>
                      <ul class="list-inline friends-list">
                        <li><img src="assets/img/avatars/male.png" alt="friend-1">
                        </li>
                        <li><img src="assets/img/avatars/female.png" alt="friend-2">
                        </li>
                        <li><img src="assets/img/avatars/female.png" alt="friend-3">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="row">
              <hr>
              <div class="padding-10">
                <ul class="nav nav-tabs tabs-pull-right">
                  <li class="active">
                    <a href="#a1" data-toggle="tab">{{'My Programs' | i18n}}</a>
                  </li>
                  <li>
                    <a href="#a2" data-toggle="tab">{{'My Measurements' | i18n}}</a>
                  </li>
                  <li class="pull-left">
                    <span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Activity</span>
                  </li>
                </ul>
                <div class="tab-content padding-top-10">
                  <div class="tab-pane fade in active" id="a1">

                  </div>
                  <div class="tab-pane fade" id="a2">

                  </div>
                  <!-- end tab -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>


  <!-- changeInfoModal -->
  <div bsModal #changeInfoModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="changeInfoModal.hide()" (click)="traineeService.unsubscribeToChange()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{'Edit Basic Info' | i18n}}</h4>
        </div>
        <form [formGroup]="traineeService.basicInfoForm" novalidate (ngSubmit)="submit(traineeService.basicInfoForm.value, traineeService.basicInfoForm.valid)">
          <div class="smart-form">
            <div class="modal-body">
              <fieldset>
                <section>
                  <label class="label">{{'Name' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-user"></i>
                        <input type="text" [ngModel]="traineeService.user.name" formControlName="name" autocomplete="off" spellcheck="false">
                      </label>
                  <small [hidden]="traineeService.basicInfoForm.controls.name.valid">
                    Please Enter Name.
                  </small>
                </section>
                <section>
                  <label class="label">{{'Phone' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-phone"></i>
                        <input type="text" [ngModel]="traineeService.user.phone" formControlName="phone" autocomplete="off" >
                        <b class="tooltip tooltip-bottom-right">
                        <i class="fa fa-warning txt-color-teal"></i>
                        Some helpful information</b>
                  </label>
                  <small [hidden]="traineeService.basicInfoForm.controls.phone.valid">
                    Valid phone is required.
                  </small>
                </section>
                <section>
                  <label class="label">{{'Email' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-envelope"></i>
                        <input type="text" [ngModel]="traineeService.user.email" formControlName="email" autocomplete="off" ngControl="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" spellcheck="false">
                      </label>
                  <small [hidden]="traineeService.basicInfoForm.controls.email.valid">
                    Valid Email is required.
                  </small>
                </section>
                <section>
                  <label class="label">{{'Address' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-home"></i>
                        <input type="text" [ngModel]="traineeService.user.address" formControlName="address" autocomplete="off" spellcheck="false">
                      </label>
                  <small [hidden]="traineeService.basicInfoForm.controls.address.valid">
                    Valid address is required.
                  </small>
                </section>
                <section>
                  <label class="label">{{'Allergy' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-heartbeat"></i>
                        <input type="text" [ngModel]="traineeService.user.allergy" formControlName="allergy" autocomplete="off" spellcheck="false">
                      </label>
                  <small [hidden]="traineeService.basicInfoForm.controls.allergy.valid">
                    Valid allergy is required.
                  </small>
                </section>
                <section>
                  <label class="label">{{'Injury' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-hospital-o"></i>
                        <input type="text" [ngModel]="traineeService.user.injury" formControlName="injury" autocomplete="off" spellcheck="false">
                      </label>
                  <small [hidden]="traineeService.basicInfoForm.controls.injury.valid">
                    Valid injury is required.
                  </small>
                </section>
                <section>
                  <label class="label">{{'Food Pref' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-delicious"></i>
                        <input type="text" [ngModel]="traineeService.user.foodPref" formControlName="foodPref" autocomplete="off" spellcheck="false">
                      </label>
                  <small [hidden]="traineeService.basicInfoForm.controls.foodPref.valid">
                    Valid foodPref is required.
                  </small>
                </section>
              </fieldset>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="changeInfoModal.hide()" (click)="traineeService.unsubscribeToChange()">
                {{'Cancel' | i18n}}
              </button>
            <button type="button" class="btn btn-primary" type="submit" (click)="changeInfoModal.hide()" [disabled]="!traineeService.infoChange || !traineeService.basicInfoForm.valid">
                {{'Save' | i18n}}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- changeImageModal -->
  <div bsModal #changeImageModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="changeImageModal.hide()" (click)="cancelImageChange()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{'Change Profile Picture' | i18n}}</h4>
        </div>
        <div class="modal-body image-modal-body">
          <div class="col-sm-3 col-sm-offset-3 profile-pic">
            <img #newImage src="{{ traineeService.newProfileImagePath }}" alt="profile-pic" (error)="validImage = false" (load)="validImage = true">
          </div>
          <br />
          <br />
          <textarea placeholder="Image Path" [(ngModel)]="traineeService.newProfileImagePath"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="changeImageModal.hide()" (click)="cancelImageChange()">
              {{'Cancel' | i18n}}
            </button>
          <button (click)="saveNewImage(newImage)" (click)="changeImageModal.hide()" type="button" class="btn btn-primary"
                 [disabled]="!validImage ||  traineeService.newProfileImagePath == traineeService.user.profileImagePath">
              {{'Save' | i18n}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal Section ends-->


</div>