<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Training Master', 'Profile']" icon="group" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-language-selector></sa-language-selector>
    <sa-logout></sa-logout>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm" style="min-height:88vh">
        <div class="row">
          <div class="col-sm-12 col-md-10 col-md-offset-1">
            <app-trainee-main-card></app-trainee-main-card>
            <div class="row">
              <div class="padding-10">
                <ul class="nav nav-tabs tabs-pull-right">
                  <li class="active">
                    <a href="#training-program" data-toggle="tab">{{'Training program' | i18n}}</a>
                  </li>
                  <li>
                    <a href="#measurements" data-toggle="tab">{{'Measurements' | i18n}}</a>
                  </li>
                  <li>
                    <a href="#images" data-toggle="tab">{{'Progress images' | i18n}}</a>
                  </li>
                </ul>
                <div class="tab-content padding-top-10">
                  <div class="tab-pane fade in active" id="training-program">
                    <app-trainee-training-program></app-trainee-training-program>
                  </div>
                  <div class="tab-pane fade" id="measurements">
                    <app-trainee-measurements></app-trainee-measurements>
                  </div>
                  <div class="tab-pane fade" id="images">
                    <app-trainee-progress-images></app-trainee-progress-images>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>