<div id="content">


  <div class="row">
    <sa-big-breadcrumbs [items]="['Training Master', 'Profile']" icon="group" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-language-selector></sa-language-selector>
    <sa-logout></sa-logout>
  </div>
  <!-- end row -->
  <!-- row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="well well-sm" style="min-height:88vh">
        <div class="row">
          <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="well well-light well-sm no-margin no-padding">
              <div class="row">
                <div class="col-sm-12">
                  <div id="myCarousel" class="carousel fade profile-carousel">
                    <div class="air air-bottom-right padding-10">
                      <a href="" class="btn txt-color-white bg-color-teal btn-sm"><i class="fa fa-check"></i> Follow</a>&#xA0;
                      <a href="" class="btn txt-color-white bg-color-pinkDark btn-sm"><i class="fa fa-link"></i> Connect</a>
                    </div>
                    <div class="air air-top-left padding-10">
                      <h4 class="txt-color-white font-md">{{ date | date: 'dd MMM, yyyy' }}</h4>
                    </div>
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    </ol>
                    <div class="carousel-inner">
                      <!-- Slide 1 -->
                      <div class="item active">
                        <img src="assets/img/demo/s1.jpg" alt="demo user">
                      </div>
                      <!-- Slide 2 -->
                      <div class="item">
                        <img src="assets/img/demo/s2.jpg" alt="demo user">
                      </div>
                      <!-- Slide 3 -->
                      <div class="item">
                        <img src="assets/img/demo/m3.jpg" alt="demo user">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-3 profile-pic">
                      <img [src]="user.profileImagePath" alt="profile-pic">

                      <div class="padding-10">
                        <h4 class="font-md"><strong>1,543</strong>
                          <br>
                          <small>Followers</small>
                        </h4>
                        <br>
                        <h4 class="font-md"><strong>419</strong>
                          <br>
                          <small>Connections</small>
                        </h4>
                      </div>
                    </div>
                    <div *ngIf="user" class="col-sm-6">
                      <h1>{{ user.name }}</h1>
                      <ul class="list-unstyled">
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-phone"></i>&#xA0;&#xA0;(<span class="txt-color-darken">+354</span>) <span class="txt-color-darken">{{user.phone}}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-envelope"></i>&#xA0;&#xA0;<a>{{ user.email }}</a>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-home"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ user.address }}</span>
                          </p>
                        </li>
                        <li *ngIf="user.allergy">
                          <p class="text-muted">
                            <i class="fa fa-heartbeat"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ user.allergy }}</span>
                          </p>
                        </li>
                        <li *ngIf="user.foodPref">
                          <p class="text-muted">
                            <i class="fa fa-tachometer"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ user.foodPref }}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-delicious"></i>&#xA0;&#xA0;<span class="txt-color-darken">{{ user.kennitala }}</span>
                          </p>
                        </li>
                        <li>
                          <p class="text-muted">
                            <i class="fa fa-pencil"></i>&#xA0;&#xA0;<span class="txt-color-darken" (click)="traineeService.infoOpened()"><button (click)="lgModal.show()" class="btn btn-info btn-xs">{{'Edit' | i18n}}</button></span>
                          </p>
                        </li>
                      </ul>
                      <br>
                      <br>

                      <p class="font-md">
                        <i>{{'My Goal' | i18n}}...</i>
                      </p>

                      <p>
                        Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque
                        nihil impedit quo minus id quod maxime placeat facere
                      </p>
                      <br>
                      <br>
                    </div>
                    <div class="col-sm-3">
                      <h1>
                        <small>{{'Progress Images' | i18n}}</small>
                      </h1>
                      <ul class="list-inline friends-list">
                        <li><img src="assets/img/avatars/1.png" alt="friend-1">
                        </li>
                        <li><img src="assets/img/avatars/2.png" alt="friend-2">
                        </li>
                        <li><img src="assets/img/avatars/3.png" alt="friend-3">
                        </li>
                        <li><img src="assets/img/avatars/4.png" alt="friend-4">
                        </li>
                        <li><img src="assets/img/avatars/5.png" alt="friend-5">
                        </li>
                        <li><img src="assets/img/avatars/male.png" alt="friend-6">
                        </li>
                        <li>
                          <a href="">{{'See All' | i18n}}</a>
                        </li>
                      </ul>
                      <h1>
                        <small>Recent visitors</small>
                      </h1>
                      <ul class="list-inline friends-list">
                        <li><img src="assets/img/avatars/male.png" alt="friend-1">
                        </li>
                        <li><img src="assets/img/avatars/female.png" alt="friend-2">
                        </li>
                        <li><img src="assets/img/avatars/female.png" alt="friend-3">
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="row">
              <hr>
              <div class="padding-10">
                <ul class="nav nav-tabs tabs-pull-right">
                  <li class="active">
                    <a href="#a1" data-toggle="tab">{{'My Programs' | i18n}}</a>
                  </li>
                  <li>
                    <a href="#a2" data-toggle="tab">{{'My Measurements' | i18n}}</a>
                  </li>
                  <li class="pull-left">
                    <span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Activity</span>
                  </li>
                </ul>
                <div class="tab-content padding-top-10">
                  <div class="tab-pane fade in active" id="a1">

                  </div>
                  <div class="tab-pane fade" id="a2">

                  </div>
                  <!-- end tab -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>


  <!-- Modal -->


  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{'Edit Basic Info' | i18n}}</h4>
        </div>
        <form [formGroup]="traineeService.basicInfoForm" novalidate (ngSubmit)="submit(traineeService.basicInfoForm.value, traineeService.basicInfoForm.valid)">
          <div class="smart-form">
            <div class="modal-body">
              <fieldset>
                <section>
                  <label class="label">{{'Name' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-user"></i>
                        <input type="text" [(ngModel)]="user.name" formControlName="name" autocomplete="off" >
                      </label>
                </section>
                <section>
                  <label class="label">{{'Phone' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-phone"></i>
                        <input type="text" [(ngModel)]="user.phone" formControlName="phone" autocomplete="off" >
                      </label>
                </section>
                <section>
                  <label class="label">{{'Email' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-envelope"></i>
                        <input type="text" [(ngModel)]="user.email" formControlName="email" autocomplete="off" >
                      </label>
                </section>
                <section>
                  <label class="label">{{'Address' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-home"></i>
                        <input type="text" [(ngModel)]="user.address" formControlName="address" autocomplete="off" >
                      </label>
                </section>
                <section>
                  <label class="label">{{'Allergy' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-heartbeat"></i>
                        <input type="text" [(ngModel)]="user.allergy" formControlName="allergy" autocomplete="off" >
                      </label>
                </section>
                <section>
                  <label class="label">{{'Food Pref' | i18n}}</label>
                  <label class="input"> <i class="icon-append fa fa-delicious"></i>
                        <input type="text" [(ngModel)]="user.foodPref" formControlName="foodPref" autocomplete="off" >
                      </label>
                </section>
              </fieldset>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="lgModal.hide()">
                {{'Cancel' | i18n}}
              </button>
            <button type="button" class="btn btn-primary" type="submit" [disabled]="!traineeService.infoChange">
                {{'Save' | i18n}}
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>