<header id="header" class="animated fadeInDown">
  <div id="logo-group">
    <span id="logo"> <img src="assets/img/logo.png" alt="TrainingMaster"> </span>
  </div>
  <span id="extr-page-header-space">
    <span class="hidden-mobile hiddex-xs">Already registered?</span> 
    <a routerLink="/login" class="btn btn-danger">Sign In</a>
  </span>
</header>
<div id="main" role="main" class="animated fadeInDown">
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm">
        <app-landing-page-info-card [trainee]="true" ></app-landing-page-info-card>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="well no-padding">
          <sa-language-selector></sa-language-selector>
          <br />
          <br />
          <div class="card" *ngIf="landingPageService.trainer">
              <a class="banner"></a>
            <div>
              <img alt="{{landingPageService.trainer.name}}" [src]="landingPageService.trainer.profileImagePath" class="avatar">
              <div class="info">
                <div class="name">
                  {{landingPageService.trainer.name}}
                </div>
                <span>
                  <div class="desc">{{landingPageService.trainer.email}}</div>
                  <div class="desc">{{landingPageService.trainer.location}}</div>
                </span>
              </div>
            </div>
          </div>
          <app-trainee-register-form></app-trainee-register-form>
        </div>
        <p class="note text-center">*FREE Registration ends on October 2015.</p>
      </div>
    </div>
  </div>
</div>

<app-trainee-terms-modal></app-trainee-terms-modal>