<div id="content">
  <div class="row">
    <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa fa-file-text-o"></i>{{'Food Items' | i18n}}
      <span>> {{'List' | i18n}}</span>
    </h1>
  </div>
  <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->
  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <sa-widget [editbutton]="false" color="blueDark">
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="options" paginationLength="true" pagingType="full_numbers" filter="true" tableClass="table table-condenced table-striped table-bordered">
                <thead>

                  <tr>
                    <th data-class="expand">{{'Name' | i18n}}</th>

                    <th>{{'Carbohydrate' | i18n}}</th>
                    <th data-hide="phone">{{'Protein' | i18n}}</th>
                    <th data-hide="phone">{{'Fat' | i18n}}</th>
                    <th data-hide="phone,tablet">{{'Kcal' | i18n}}</th>
                    <th data-hide="phone,tablet">{{'Water' | i18n}}</th>
                    <th data-hide="phone,tablet">{{'Colestrol' | i18n}}</th>
                    <th data-hide="phone,tablet">{{'Added Sugar' | i18n}}</th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>