<div id="content">
  <div class="row">
    <h1 class="page-title txt-color-blueDark">
    <i class="fa-fw fa fa-file-text-o"></i>{{'Exercise' | i18n }}
    <span>> {{'List' | i18n}}</span>
    </h1>
  </div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <sa-widget class="well">
          <div>
            <div class="widget-body no-padding" data-sparkline-container="">
              <sa-datatable [options]="options"
                         [detailsFormat]="detailsFormat"
                         tableClass="display projects-table table table-striped table-bordered table-hover"
                         width="100%">
                <thead>
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Made By</th>
                  </tr>
                </thead>
              </sa-datatable>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
</div>

<!-- changeInfoModal -->
<div bsModal #videoModal="bs-modal" class="modal fade" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div *ngIf="videoPlaying">
      <app-exercise-video-modal (close)="closeVideoModal()" [videoUrl]="videoUrl"></app-exercise-video-modal>
  </div>
</div>
