<h1>
  <small>{{'My trainer' | i18n}}</small>
</h1>
<div class="padding-10">
  <div>
    <img src="assets/img/avatars/male.png" alt="friend-1">
  </div>
  <br>
  <div>
    <ul class="list-unstyled">
      <li>
        <p class="text-muted">
          <i class="fa fa-user"></i>&#xA0;&#xA0;<span class="txt-color-darken">Gummi Sterki</span>
        </p>
      </li>
      <li>
        <p class="text-muted">
          <i class="fa fa-envelope"></i>&#xA0;&#xA0;<span class="txt-color-darken"><button class="btn btn-info btn-xs">{{'Contact' | i18n}}</button></span>
        </p>
      </li>
    </ul>
  </div>
</div>