<form [formGroup]="measureMMForm"  novalidate="novalidate" class="smart-form" >

    <h2>{{'Fitumælingar' | i18n}}</h2>
  <fieldset>
    <div class="row">
      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-compress"></i>
          <input type="number" formControlName="chest" placeholder="Chest">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-compress"></i>
          <input type="number" formControlName="abdominal" placeholder="Abdominal">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-compress"></i>
          <input type="number" formControlName="thigh" placeholder="Thigh">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-compress"></i>
          <input type="number" formControlName="tricep" placeholder="Tricep">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-compress"></i>
          <input type="number" formControlName="subscapular" placeholder="Subscapular">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-compress"></i>
          <input type="number" formControlName="suprailiac" placeholder="Suprailiac">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-compress"></i>
          <input type="number" formControlName="axilliary" placeholder="Axilliary">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-tachometer"></i>
          <input type="number" formControlName="kg" placeholder="{{'Kg' | i18n}}">
        </label>
      </section>
    </div>
  </fieldset>
</form>

<form [formGroup]="measureCMForm"  novalidate="novalidate" class="smart-form" (submit)="submitMeasureCM(measureCMForm)" (submit)="submitMeasureMM(measureMMForm)">
      <h2>{{'Ummálsmælingar' | i18n}}</h2>
  <fieldset>
    <div class="row">
      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-expand"></i>
          <input type="number" formControlName="butt" placeholder="{{'Butt' | i18n}}">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-expand"></i>
          <input type="number" formControlName="waist" placeholder="{{'Waist' | i18n}}">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-expand"></i>
          <input type="number" formControlName="hip" placeholder="{{'Hip' | i18n}}">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-expand"></i>
          <input type="number" formControlName="thigh" placeholder="{{'Thigh' | i18n}}">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-expand"></i>
          <input type="number" formControlName="armLoose" placeholder="{{'Arm loose' | i18n}}">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-expand"></i>
          <input type="number" formControlName="armFlexed" placeholder="{{'Arm flexed' | i18n}}">
        </label>
      </section>

      <section class="col col-3">
        <label class="input"> <i class="icon-prepend fa fa-expand"></i>
          <input type="number" formControlName="shoulders" placeholder="{{'Shoulders' | i18n}}">
        </label>
      </section>

    </div>
  </fieldset>

  <footer>
    <button type="submit" class="btn btn-primary">{{'Create' | i18n}}</button>
  </footer>
