<aside id="left-panel">

  <!-- User info -->
  <sa-login-info [user]="trainer" ></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>
      <li>
        <a title="Dashboard" routerLink="/trainer/dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span
          class="menu-item-parent">{{'Dashboard' | i18n}}</span></a>
      </li>
      <li>
        <a title="Customers"><i class="fa fa-lg fa-fw fa-user"></i> <span
          class="menu-item-parent">{{'Customers' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/trainer/customers/list">{{'List' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/trainer/customers/new">{{'New customer' | i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="Training Programs"><i class="fa fa-lg fa-fw fa-heartbeat"></i> <span
          class="menu-item-parent">{{'Training programs' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/trainer/trainingprograms/list">{{'List' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/trainer/trainingprograms/new">{{'New taining program' | i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="Exercise"><i class="fa fa-lg fa-fw fa-trophy"></i> <span
          class="menu-item-parent">{{'Exercise' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/trainer/exercise/list">{{'List' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/trainer/exercise/new">{{'New exercise' | i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="Food Programs"><i class="fa fa-lg fa-fw fa-cutlery"></i> <span
          class="menu-item-parent">{{'Food programs' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/trainer/foodprograms/list">{{'List' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/trainer/foodprograms/new">{{'New food program' | i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="Food Items"><i class="fa fa-lg fa-fw fa-barcode"></i> <span
          class="menu-item-parent">{{'Food items' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/trainer/fooditems/list">{{'List' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/trainer/fooditems/new">{{'New food item' | i18n}}</a>
          </li>
        </ul>
      </li>
      <li>
        <a title="Test"><i class="fa fa-lg fa-fw fa-cogs"></i> <span
          class="menu-item-parent">{{'Test' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/trainer/test/larus">{{'Larus' | i18n}}</a>
          </li>          
          <li routerLinkActive="active">
            <a routerLink="/trainer/test/ivar">{{'Ivar' | i18n}}</a>
          </li>          
          <li routerLinkActive="active">
            <a routerLink="/trainer/test/egill">{{'Egill' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/trainer/test/david">{{'David' | i18n}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
