<div id="content">
  <div class="row">
    <span class="col-xs-6">
      <h1 class="page-title txt-color-blueDark">
      <i class="fa-fw fa fa fa-calendar"></i>{{'Training programs' | i18n }}
      <span>> {{'Create' | i18n}}</span>
      </h1>
    </span>
    <span class="col-xs-6">
    </span>
  </div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-3">

        
        <app-add-training></app-add-training>
        
        <app-save-training-program></app-save-training-program>

      </article>
      <article class="col-sm-12 col-md-12 col-lg-9">
          <app-training-program-calendar [creationMode]="true" ></app-training-program-calendar>
      </article>
    </div>
  </sa-widgets-grid>
</div>
