<sa-widget color="blueDark" [editbutton]="false" [colorbutton]="false" [togglebutton]="false" [fullscreenbutton]="false"
  [deletebutton]="false" [sortable]="false">
  <header>
    <h2>{{ 'Add food portion' | i18n }} </h2>
  </header>
  <div>
    <div class="widget-body">
      <form [formGroup]="addPortionForm">
        <fieldset>
          <div class="form-group">
            <label>{{ 'Portion' | i18n }}</label>
            <select class="my-select" #foodItem (change)="foodItemChange($event.target.value)">
              <option *ngFor="let foodItem of foodItemList; let i = index" [value]="i">
                {{ foodItem.name }}
              </option>
            </select>
          </div>
          <div class="form-group col-xs-12">
            <label>{{ 'Grams' | i18n }}</label>
            <input min="0" class="form-control" formControlName="grams" id="grams" type="number" step="10"/>
            <small *ngIf="!addPortionForm.controls.grams.valid && submitted">
                {{ 'Grams are required' | i18n }}
            </small>
          </div>
          <div class="form-group col-xs-12">
            <label>{{ 'Time of day' | i18n }}</label>
            <input type="time" name="time" step=900 class="form-control" formControlName="timeOfDay" id="timeOfDay">
          </div>
          <div class="form-group">
            <p class="note">{{ 'Select Portion Color' | i18n }}:</p>
            <div class="btn-group btn-group-sm btn-group-justified btn-select-tick">
              <label *ngFor="let colorClassName of colorClassNames" [saToggleActive]="colorClassName == activeColorClass" class="btn {{colorClassName.bg}}"
                (click)="setColorClass(colorClassName)">
                <i class="fa fa-check {{colorClassName.txt}}"></i>
              </label>
            </div>
          </div>
          <div class="weekDays-selector">
            <p class="note">{{ 'Select Day(s) (mandatory)' | i18n }}:</p>
            <span *ngFor="let dow of dowCheckbox" class="weekdays">
              <input formControlName="dow" type="checkbox" [id]="dow.id" class="weekday" [(ngModel)]="dow.checked" [value]="dow.value" (change)="updateDowCheckbox(dow.value,$event)" />
              <label [for]="dow.id">{{dow.name | i18n}}</label>
            </span>
              <small *ngIf="submitted && noDays">
                  {{ 'Must select at least one day' | i18n }}
              </small>
          </div>
        </fieldset>
        <div class="form-actions">
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-success" type="button" id="add-event" (click)="checkFoodPortionEvent(foodItem.value, addPortionForm.value)">
                <i class="fa fa-plus"></i> <span>{{ 'Add portion' | i18n }} </span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</sa-widget>