<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">Trainingmaster © 2017</span>
        </div>
        <div class="col-xs-6 col-sm-6 text-right hidden-xs">
            <div class="txt-color-white inline-block">
                <i class="txt-color-blueLight hidden-mobile">Contact admin <i class="fa fa-envelope-o"></i>
                    <a href="mailto:trainingmaster@trainingmaster.is"><strong>Trainingmaster</strong></a> </i>
            </div>
        </div>
    </div>
</div>
